<a href="https://colab.research.google.com/github/alexandmarkov/sberbank_reboot/blob/main/hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1 задание

Допустим, есть таблица test_tbl.
Чтобы добавить константный столбец с количеством строк в таблицу, нужно сначала сделать alter table. Затем update.
Запрос на sql без оконных функций (сам пишу на PostgreSQL, поэтому, возможно, может отличаться от других):

**alter table** test_tbl **add column** cnt_rows **int**;  
**update** test_tbl **set** cnt_rows=(**select** *count*(1) **from** test_tbl);

## 2 задание

Не совсем понял, нужно ли выводить МСК с именем, улицей и почтовым кодом
, а все остальные города - вывести просто null во всех полях.  
Или вывести имя, улицу и почтовый код, предварительно отфильтровав по Москве.  
Так как задание по CASE, то скорее всего 1 вариант

In [52]:
pd.read_sql('''
SELECT 
      case when adr.state='Moscow' then p.name end name
    , case when adr.state='Moscow' then adr.street_name end street_name
    , case when adr.state='Moscow' then adr.post_code end post_code
    from person p
    join address adr on adr.person_id = p.id
    order by adr.state='Moscow' desc, name;
''', connection)

    name      street_name post_code
0   Lisa  Pervomay Street    141700
1  Moshe  Pervomay Street    141700
2   None             None      None
3   None             None      None